<div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="{:url('user/index')}">用户地址管理</a>
        <a>
          <cite>用户地址列表</cite></a>
      </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
</div>
<div class="x-body">
    <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so">
            <input type="text" name="nick_name" value="{php}if(!empty($search['nick_name'])){echo $search['nick_name'];}{/php}" placeholder="用户名称" class="layui-input">
            <button class="layui-btn" lay-submit="" lay-filter="sreach"><i class="layui-icon"></i></button>
        </form>
    </div>
    <xblock>
        <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
        <span class="x-right" style="line-height:40px">共有数据：{$data->total()} 条</span>
    </xblock>
    <table class="layui-table">
        <thead>
        <tr>
            <th>
                <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
            </th>
            <th>ID</th>
            <th>用户名称</th>
            <th>地址：省</th>
            <th>地址：市</th>
            <th>地址：区</th>
            <th>详细地址</th>
            <th>操作</th>
        </thead>
        <tbody>
        {foreach $data as $key=>$value}
        <tr>
            <td>
                <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='{$value['address_id']}'><i class="layui-icon">&#xe605;</i></div>
            </td>
            <td>
                {$value['address_id']}
            </td>
            <td>
                {$value['user']['nick_name']}
            </td>
            <td>
                {$value['sheng']}
            </td>
            <td>
                {$value['shi']}
            </td>
            <td>
                {$value['qu']}
            </td>
            <td>
                {$value['more_addr']}
            </td>
            {php}
            $operate=[];
            $operate[]=url('useraddress/edit',['id'=>$value['address_id']]);
            $operate[]=url('useraddress/del',['id'=>$value['address_id']]);
            {/php}
            <td class="td-manage">
                <a title="删除" onclick="member_del(this,{$value['address_id']})" href="javascript:;">
                    <i class="layui-icon">&#xe640;</i>
                </a>
            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>
    {$page}


</div>
<script>
    layui.use('laydate', function(){
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#end' //指定元素
        });
    });

    /*用户地址-删除*/
    function member_del(obj,id){
        layer.confirm('确认要删除吗？',function(index){
            //发异步删除数据
            $.post("{:url('del')}",{id:id},function(data){
                $(obj).parents("tr").remove();
                layer.msg('已删除!',{icon:1,time:1000});
            });
        });
    }

    /*用户地址-选中删除*/
    function delAll (argument) {
        var data = tableCheck.getData();
        // console.log(data);return
        layer.confirm('确认要删除吗？'+data,function(index){
            //捉到所有被选中的，发异步进行删除
            $.post("{:url('delall')}",{id:data},function(data){
                var jsonData=JSON.parse(data);
                var icon=jsonData[0]==200?1:2;
                layer.msg(jsonData[1], {icon: icon});
                $(".layui-form-checked").not('.header').parents('tr').remove();
            })

        });
    }
</script>