<!-- 左侧菜单开始 -->
<div class="left-nav">
    <div id="side-nav">
        <ul id="nav">

            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe6b8;</i>
                    <cite>用户管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="{:url('user/index')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>用户列表</cite>
                        </a>
                    </li>
                    <li>
                        <a _href="{:url('entrust/index')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>委托列表</cite>
                        </a>
                    </li>
                    <li>
                        <a _href="{:url('useraddress/index')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>用户地址</cite>
                        </a>
                    </li>
                    <li>
                        <a _href="{:url('usercollection/index')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>用户收藏</cite>
                        </a>
                    </li>
                    <li>
                        <a _href="{:url('coupon/index')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>用户优惠券</cite>
                        </a>
                    </li>
                    <li>
                        <a _href="{:url('userrecharge/index')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>竞拍额度充值列表</cite>
                        </a>
                    </li>

                </ul>
            </li>

            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe70c;</i>
                    <cite>分类管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="{:url('category/index')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>分类列表</cite>
                        </a>
                    </li>

                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe723;</i>
                    <cite>专场中心</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="{:url('collection/index')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>专场列表</cite>
                        </a>
                    </li>
                </ul>
            </li>


            <li>
                <a _href="javascript:;">
                    <i class="iconfont">&#xe70a;</i>
                    <cite>产品管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>

                <ul class="sub-menu">
                    <li>
                        <a _href="{:url('product/index',['product_type'=>1])}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>拍卖产品列表</cite>
                        </a>
                    </li>
                    <li>
                        <a _href="{:url('product/index',['product_type'=>2])}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>一口价产品列表</cite>
                        </a>
                    </li>
                    <li>
                        <a _href="{:url('prodlistcomment/index')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>产品评论</cite>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe723;</i>
                    <cite>订单管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="{:url('productlist/index')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>订单列表</cite>
                        </a>
                    </li>
                    <li>
                        <a _href="{:url('productlist/recode')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>会员充值记录</cite>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe705;</i>
                    <cite>文章管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="{:url('articlecate/index')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>文章分类</cite>
                        </a>
                    </li>
                    <li>
                        <a _href="{:url('article/index')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>文章列表</cite>
                        </a>
                    </li>

                </ul>
            </li>
            <!-- <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe6af;</i>
                    <cite>意见反馈</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="{:url('idea/index')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>意见反馈列表</cite>
                        </a>
                    </li >
                    
                </ul>
            </li> -->
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe726;</i>
                    <cite>管理员管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="{:url('manage/index')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>管理员列表</cite>
                        </a>
                    </li>

                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe6ae;</i>
                    <cite>设置</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="{:url('banner/index')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>Banner设置</cite>
                        </a>
                    </li>
                    <li>
                        <a _href="{:url('nav/index')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>首页导航设置</cite>
                        </a>
                    </li>
                    <li>
                        <a _href="{:url('config/index')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>小程序设置</cite>
                        </a>
                    </li>
                    <li>
                        <a _href="{:url('config/setting')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>数据设置</cite>
                        </a>
                    </li>
                    <li>
                        <a _href="{:url('config/kdSetting')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>快递100参数</cite>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!-- <div class="x-slide_left"></div> -->
<!-- 左侧菜单结束 -->