<div class="x-body">
    <form class="layui-form">
        <div class="layui-form-item">
            <label for="name" class="layui-form-label">
                <span class="x-red">*</span>名称
            </label>
            <div class="layui-input-inline">
                <input type="text" id="name" name="name" required="" lay-verify="required"
                       autocomplete="off" class="layui-input" placeholder="请输入名称" value="{$data['name']}">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="x-red"></span>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="price" class="layui-form-label">
                <span class="x-red">*</span>价格
            </label>
            <div class="layui-input-inline">
                <input type="text" id="price" name="price" required="" lay-verify="required"
                       autocomplete="off" class="layui-input"  placeholder="请输入价格（例：59）" value="{$data['price']}">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="x-red"></span>
            </div>
        </div>
        <!--<div class="layui-form-item">
            <label for="time" class="layui-form-label">
                <span class="x-red">*</span>服务时长（月）
            </label>
            <div class="layui-input-inline">
                <input type="text" id="time" name="time" required="" lay-verify="required"
                       autocomplete="off" class="layui-input"  placeholder="请输入服务时长（例：12）">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="x-red"></span>
            </div>
        </div>-->
        <div class="layui-form-item">
            <label for="level" class="layui-form-label">
                <span class="x-red">*</span>会员等级：
            </label>
            <div class="layui-input-inline">
                <select id="product_category" name="level" lay-filter="level" autocomplete="off"
                        class="layui-input">
                    <option value="">请选择会员等级</option>
                    {foreach $fxs as $key=>$value}
                    <option value="{$key}" {if condition="$key==$data['level']"} selected{/if}>{$value}</option>
                    {/foreach}
                </select>
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="x-red"></span>
            </div>
        </div>

        <div class="layui-form-item">
            <label for="member_introduce" class="layui-form-label">
                <span class="x-red">*</span>权益说明：
            </label>
            <div class="layui-input-inline">
                <textarea id="member_introduce" name="member_introduce" required="" lay-verify="required"
                          style="width:400px;height:200px;"
                          autocomplete="off" class="layui-input" placeholder="请填写权益说明"> {$data['member_introduce']}</textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="sort" class="layui-form-label">
                <span class="x-red">*</span>排序（倒序）
            </label>
            <div class="layui-input-inline">
                <input type="text" id="sort" name="sort" required="" lay-verify="required"
                       autocomplete="off" class="layui-input" value="{$data['sort']}" placeholder="请输入排序（例：12）">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="x-red"></span>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="L_repass" class="layui-form-label">
            </label>
            <input type="hidden" name="id" id="id" value="{$data['id']}">
            <button  class="layui-btn" lay-filter="add" lay-submit="">
                修改
            </button>
        </div>
    </form>
</div>
<script>
    layui.use(['form','layer'], function(){
        $ = layui.jquery;
        var form = layui.form
            ,layer = layui.layer;

        //自定义验证规则
        form.verify({

        });

        //监听提交
        form.on('submit(add)', function(data){
            console.log(data.field);
            $.post("{:url('edit')}",{data:data.field},function(data){
                var jsonData=JSON.parse(data);
                if(jsonData[0]==200){
                    layer.alert(jsonData[1], {icon: 6},function () {
                        // 获得frame索引
                        var index = parent.layer.getFrameIndex(window.name);
                        //关闭当前frame
                        parent.layer.close(index);
                    });
                }else{
                    layer.msg(jsonData[1], {time: 1000,icon:5},function () {

                    });
                }
                return false;
            });
            return false;

        });


    });
</script>