<div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="{:url('index/index')}">首页</a>
          <a href="{:url('homework/index')}">作业管理</a>
        <a>
          <cite>作业列表</cite></a>
      </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
</div>
<div class="x-body">
    <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so">
            <input type="text" name="homework_name" value="{php}if(!empty($search['homework_name'])){echo $search['homework_name'];}{/php}" placeholder="作业名称" autocomplete="off" class="layui-input">
            <input type="text" name="homework_content" value="{php}if(!empty($search['homework_content'])){echo $search['homework_content'];}{/php}" placeholder="作业内容" autocomplete="off" class="layui-input">
            <input type="text" name="product_name" value="{php}if(!empty($search['product_name'])){echo $search['product_name'];}{/php}" placeholder="产品名称" autocomplete="off" class="layui-input">

            <div class="layui-input-inline">
                <select id="is_show" name="is_show" >
                    <option value="">请选择产品状态</option>
                    <option value="1" {php}if(!empty($search['is_show'])&&$search['is_show']==1){echo ' selected';}{/php}>展示</option>
                    <option value="2" {php}if(!empty($search['is_show'])&&$search['is_show']==2){echo ' selected';}{/php}>不展示</option>
                </select>
            </div>

            <!--<div class="layui-input-inline">
                <select id="is_show" name="is_show" >
                    <option value="">请选择产品状态</option>
                    <option value="1" {php}if(!empty($search['is_show'])&&$search['is_show']==1){echo ' selected';}{/php}>展示</option>
                    <option value="2" {php}if(!empty($search['is_show'])&&$search['is_show']==2){echo ' selected';}{/php}>不展示</option>
                </select>
            </div>-->
            <button class="layui-btn" lay-submit="" lay-filter="sreach"><i class="layui-icon"></i></button>
        </form>
    </div>
    <xblock>
        {php}$addUrl=url('homework/add');{/php}
        <button class="layui-btn" onclick="x_admin_show('添加作业','{$addUrl}')"><i class="layui-icon"></i>添加</button>
        <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
        <span class="x-right" style="line-height:40px">共有数据：{$data->total()} 条</span>
    </xblock>
    <table class="layui-table">
        <thead>
        <tr>
            <th style="width: 20px">
                <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
            </th>
            <th>ID</th>
            <th>作业名称</th>
            <th>作业内容</th>
            <th>对应产品</th>
            <th>添加时间</th>
            <th>排序</th>
            <th>状态</th>
            <th>操作</th>
        </thead>
        <tbody>
        {foreach $data as $key=>$value}
        <tr>
            <td>
                <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='{$value['homework_id']}'><i class="layui-icon">&#xe605;</i></div>
            </td>
            <td>
                {$value['homework_id']}
            </td>
            <td>
                {$value['homework_name']}
            </td>
            <td>
                {$value['homework_content']}
            </td>
            <td>
                {$value['product']['product_name']}
            </td>
            <td>
                {php}echo date('Y-m-d H:i:s',$value['homework_addtime']);{/php}
            </td>
            <td>
                <input type="number" class="layui-input x-sort" name="order" value="{$value['sort']}" onblur="editSort(this)">
                <input type="hidden" class="id" name="id" value="{$value['homework_id']}">
            </td>
            <td>
                <form class="layui-form">
                    <input type="checkbox" name="switch" class="is_show" lay-text="启用|停用"  {if condition="$value['is_show']==1"} checked {/if} lay-skin="switch" lay-filter="ifKeyDemo">
                </form>
            </td>
            {php}
            $operate=[];
            $operate[1]=url('homework/edit',['id'=>$value['homework_id']]);
            {/php}
            <td class="td-admin">
                <a title="编辑产品基本信息" onclick="x_admin_show('编辑产品基本信息','{$operate[1]}')" href="javascript:;">
                    <i class="iconfont">&#xe69e;</i>
                </a>
                &nbsp;丨&nbsp;
                <a title="删除" onclick="member_del(this,{$value['homework_id']})" href="javascript:;">
                    <i class="iconfont">&#xe69d;</i>
                </a>
            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>
    {$data->render()}


</div>
<script>
    layui.use('laydate', function(){
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#end' //指定元素
        });
    });
    /*产品-排序*/
    function editSort(obj){
        //索引
        var index=$('.x-sort').index(obj);
        //id
        var id=$('.id').eq(index).val();
        //新值
        var value=obj.value;
        $.get("{:url('editsort')}",{value:value,id:id},function(data){
            var jsonData=JSON.parse(data);
            var icon=jsonData[0]==200?1:2;
            layer.msg(jsonData[1],{icon:icon,time:1000});
        });
    }
    /*用户-删除*/
    function member_del(obj,id){
        layer.confirm('确认要删除吗？',function(index){
            //发异步删除数据
            $.post("{:url('del')}",{id:id},function(data){
                $(obj).parents("tr").remove();
                layer.msg('已删除!',{icon:1,time:1000});
            });
        });
    }
    function delAll (argument) {
        var data = tableCheck.getData();
        // console.log(data);return
        layer.confirm('确认要删除吗？'+data,function(index){
            //捉到所有被选中的，发异步进行删除
            $.post("{:url('delall')}",{id:data},function(data){
                var jsonData=JSON.parse(data);
                var icon=jsonData[0]==200?1:2;
                layer.msg(jsonData[1], {icon: icon});
                $(".layui-form-checked").not('.header').parents('tr').remove();
            })

        });
    }
    layui.use('form', function(){  //如果只加载一个模块，可以不填数组。如：layui.use('form')
        var form = layui.form //获取form模块
        form.on('switch(ifKeyDemo)', function(data){
            var value=data.elem.checked?1:2;
            // 获取当前控件
            var selectIfKey=data.elem;
            //索引
            var index=$('.is_show').index(selectIfKey)
            //id
            var id=$('.id').eq(index).val();
            $.get("{:url('editstatus')}",{value:value,id:id},function(data){
                var jsonData=JSON.parse(data);
                var icon=jsonData[0]==200?1:2;
                layer.msg(jsonData[1],{icon:icon,time:1000});
            });
        });
    });
</script>