<div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="{:url('productlist/index')}">订单管理</a>
        <a>
          <cite>订单导出</cite></a>
      </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
</div>
<div class="x-body">
    <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so" method="post">
            <input class="layui-input" placeholder="开始日期" name="start" id="start" readonly>
            <input class="layui-input" placeholder="结束日期" name="end" id="end" readonly>
            <input type="text" name="between_id" placeholder="订单ID"
                   class="layui-input">
            <input type="text" name="user_id" placeholder="用户ID"
                   class="layui-input">
            <input type="text" name="order_number"
                   placeholder="订单号" class="layui-input" style="width:200px">
            <input type="text" name="transaction_id"
                   placeholder="微信支付单号" class="layui-input" style="width:300px">
            <div class="layui-input-inline">
                <select id="is_pay" name="is_pay">
                    <option value="">订单状态</option>
                    {foreach $status['is_pay'] as $k=>$v}
                    <option value="{$k}">{$v['msg']}</option>
                    {/foreach}
                </select>
            </div>
            <div class="layui-input-inline">
                <select id="list_type" name="list_type">
                    <option value="">订单类型</option>
                    {foreach $status['list_type'] as $k=>$v}
                    <option value="{$k}">{$v['msg']}</option>
                    {/foreach}
                </select>
            </div>
            <!--<div id="demo"></div>-->
            <!--<button class="layui-btn" lay-submit="" lay-filter="search"><i class="layui-icon"></i></button>-->
            <input type="submit" class="layui-btn" value="导出">
        </form>
    </div>
</div>
<script>
    layui.use(['laydate', 'form', 'layedit'], function () {
        var laydate = layui.laydate;
        var form = layui.form;
        var layedit = layui.layedit;
        var demo = layedit.build('demo');
        // console.log(demo);
        form.on('submit(search)', function (data) {
            console.log(layedit.getContent(demo));
            return false;
            console.log(data.field);
            // $.post("{:url()}", {data: data.field}, function (data) {
            //     var jsonData = JSON.parse(data);
            //     if (jsonData[0] == 200) {
            //         layer.alert(jsonData[1], {icon: 6}, function () {
            //             // 获得frame索引
            //             var index = parent.layer.getFrameIndex(window.name);
            //             //关闭当前frame
            //             parent.layer.close(index);
            //         });
            //     } else {
            //         layer.msg(jsonData[1], {time: 1000, icon: 5}, function () {
            //
            //         });
            //     }
            //     return false;
            // });
            return false;
        });
        laydate.render({
            elem: '#start',
            type: 'datetime'
        });
        laydate.render({
            elem: '#end',
            type: 'datetime'
        });
    });
</script>