<div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="{:url('index/index')}">首页</a>
          <a href="{:url('product/index')}">产品管理</a>
        <a>
          <cite>产品列表</cite></a>
      </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
</div>
<div class="x-body">
    <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so">
            <input type="text" name="id" value="{php}if(!empty($search['id'])){echo $search['id'];}{/php}"
                   placeholder="产品ID" autocomplete="off" class="layui-input">
            <input type="text" name="value" value="{php}if(!empty($search['value'])){echo $search['value'];}{/php}"
                   placeholder="产品名称" autocomplete="off" class="layui-input">
            <script>
                layui.use('form', function () {
                    var form = layui.form //获取form模块
                    form.on('select(product_category)', function (data) {
                        // console.log(data.value);
                        $.get("{:url('product/getTwoCate')}", {fid: data.value}, function (data) {
                            $('#product_categorys').html(' ');
                            var option = new Option('请选择商品分类', "");
                            $('#product_categorys').append(option);
                            var dataOnj = data.data;
                            for (var i = 0; i < dataOnj.length; i++) {
                                var option = new Option(dataOnj[i]['category_name'], dataOnj[i]['category_id']);
                                $('#product_categorys').append(option);
                            }
                            if (dataOnj.length == 0) {
                                var option = new Option('请重新选择商品分类', "");
                                $('#product_categorys').append(option);
                            }
                            form.render();
                        });
                    });
                });
            </script>
            <div class="layui-input-inline">
                <select id="product_category" name="product_category" lay-filter="product_category" autocomplete="off"
                        class="layui-input">
                    <option value="">请选择产品分类</option>
                    {foreach $product_category as $key=>$value}
                    <option value="{$value['category_id']}" {php}if(!empty($search[
                    'product_category'])&&$search['product_category']==$value['category_id']) {echo
                    "selected='selected'";} {/php}>{$value['category_name']}</option>
                    {/foreach}
                </select>
            </div>
            <div class="layui-input-inline">
                <select id="product_categorys" name="product_categorys" autocomplete="off" class="layui-input">
                    <option value="">请选择商品二级分类</option>
                    {php}
                    if(!empty($product_categorys)){
                    foreach($product_categorys as $key=>$value){
                    {/php}
                    <option value="{$value['category_id']}" {php}if(!empty($search[
                    'product_categorys'])&&$search['product_categorys']==$value['category_id']){echo
                    "selected='selected'";}{/php}>{$value['category_name']}</option>
                    {php}
                    }
                    }
                    {/php}
                </select>
            </div>


            <div class="layui-input-inline">
                <select id="product_status" name="product_status">
                    <option value="">请选择产品状态</option>
                    <option value="1" {php}if(!empty($search[
                    'product_status'])&&$search['product_status']==1){echo ' selected';}{/php}>正常</option>
                    <option value="2" {php}if(!empty($search[
                    'product_status'])&&$search['product_status']==2){echo ' selected';}{/php}>锁定</option>
                </select>
            </div>
            <button class="layui-btn" lay-submit="" lay-filter="sreach"><i class="layui-icon"></i></button>
        </form>
    </div>
    <xblock>
        {php}$addUrl=url('product/add',['product_type'=>$type]);{/php}
        <button class="layui-btn" onclick="x_admin_show('添加产品','{$addUrl}')"><i class="layui-icon"></i>添加</button>
        <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
        <span class="x-right" style="line-height:40px">共有数据：{$data->total()} 条</span>
    </xblock>
    <table class="layui-table">
        <thead>
        <tr>
            <th style="width: 20px">
                <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i
                        class="layui-icon">&#xe605;</i></div>
            </th>
            <th>ID</th>
            <th>产品名称</th>
            <th>封面</th>
            <th>商品一级分类</th>
            <th>商品二级分类</th>
            <th>产品价格</th>
            <th>竞拍加价幅度</th>
            <th>产品添加时间</th>
            <th>排序</th>
            <th>状态</th>
            <th>操作</th>
        </thead>
        <tbody>
        {foreach $data as $key=>$value}
        <tr>
            <td>
                <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='{$value["product_id"]}'><i
                        class="layui-icon">&#xe605;</i>
                </div>
            </td>
            <td>
                {$value['product_id']}
            </td>
            <td>
                {$value['product_name']}
            </td>
            <td>
                <img src="/{$value['product_cover']}">
            </td>
            <td>
                {$value['cate_id_first']['category_name']}
            </td>
            <td>
                {$value['cate_id_second']['category_name']}
            </td>

            <td>
                ￥{$value['product_money']}
            </td>
            <td>
                ￥{$value['product_times']}
            </td>
            <td>
                {php}echo date('Y-m-d H:i:s',$value['product_time']);{/php}
            </td>
            <td>
                <input type="number" style="width: 70px" class="layui-input x-sort" name="order"
                       value="{$value['product_sort']}"
                       onblur="editSort(this)">
                <input type="hidden" class="id" name="id" value="{$value['product_id']}">
            </td>
            <td>
                <form class="layui-form">
                    <input type="checkbox" name="switch" class="product_status" lay-text="启用|停用" {if
                           condition="$value['product_status']==1" } checked {/if} lay-skin="switch"
                    lay-filter="ifKeyDemo">
                    <input type="hidden" class="product_id" value="{$value['product_id']}">
                </form>
            </td>
            {php}
            $operate=[];
            $operate[1]=url('product/edit1',['id'=>$value['product_id']]);
            $operate[2]=url('productbanner/index',['id'=>$value['product_id']]);
            $operate[3]=url('express',['id'=>$value['product_id']]);
            {/php}
            <td class="td-admin">
                <a title="编辑产品基本信息" onclick="x_admin_show('编辑','{$operate[1]}')" href="javascript:;">
                    <i class="iconfont">&#xe69e;</i>
                </a>

                <a title="编辑产品示例图片" onclick="x_admin_show('编辑视频封面图片','{$operate[2]}')" href="javascript:;">
                    <i class="iconfont">&#xe802;</i>
                </a>
                <a title="编辑产品邮费信息" onclick="x_admin_show('编辑','{$operate[3]}')" href="javascript:;">
                    <i class="iconfont">&#xe709;</i>
                </a>丨
                <a title="删除" onclick="member_del(this,{$value['product_id']})" href="javascript:;">
                    <i class="iconfont">&#xe69d;</i>
                </a>
            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>
    {$data->render()}
</div>
<script>
    layui.use('laydate', function () {
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#end' //指定元素
        });
    });

    /*产品-排序*/
    function editSort(obj) {
        //索引
        var index = $('.x-sort').index(obj);
        //id
        var id = $('.id').eq(index).val();
        //新值
        var value = obj.value;
        $.get("{:url('editsort')}", {value: value, id: id}, function (data) {
            var jsonData = JSON.parse(data);
            var icon = jsonData[0] == 200 ? 1 : 2;
            layer.msg(jsonData[1], {icon: icon, time: 1000});
        });
    }

    /*用户-删除*/
    function member_del(obj, id) {
        layer.confirm('确认要删除吗？', function (index) {
            //发异步删除数据
            $.post("{:url('product/del')}", {id: id}, function (data) {
                $(obj).parents("tr").remove();
                layer.msg('已删除!', {icon: 1, time: 1000});
            });
        });
    }

    function delAll(argument) {
        var data = tableCheck.getData();
        // console.log(data);return
        layer.confirm('确认要删除吗？' + data, function (index) {
            //捉到所有被选中的，发异步进行删除
            $.post("{:url('product/delall')}", {id: data}, function (data) {
                var jsonData = JSON.parse(data);
                var icon = jsonData[0] == 200 ? 1 : 2;
                layer.msg(jsonData[1], {icon: icon});
                $(".layui-form-checked").not('.header').parents('tr').remove();
            })

        });
    }

    layui.use('form', function () {  //如果只加载一个模块，可以不填数组。如：layui.use('form')
        var form = layui.form //获取form模块
        form.on('switch(ifKeyDemo)', function (data) {
            var value = data.elem.checked ? 1 : 2;
            // 获取当前控件
            var selectIfKey = data.elem;
            //索引
            var index = $('.product_status').index(selectIfKey)
            //id
            var id = $('.product_id').eq(index).val();
            $.get("{:url('product/editstatus')}", {value: value, id: id}, function (data) {
                var jsonData = JSON.parse(data);
                var icon = jsonData[0] == 200 ? 1 : 2;
                layer.msg(jsonData[1], {icon: icon, time: 1000});
            });
        });
    });
</script>