<div class="x-body">

    <form class="layui-form layui-form-pane">

        <div class="layui-elem-quote">

            <p>微信小程序设置：</p>

        </div>

        <div class="layui-form-item">

            <label class="layui-form-label">Key</label>

            <div class="layui-input-block">

                <input type="text" name="appid" required="" value="{$data['key']}" lay-verify="required"

                       placeholder="请输入AppID(小程序ID)"

                       autocomplete="off" class="layui-input">

            </div>

        </div>

        <div class="layui-form-item">

            <label class="layui-form-label">customer</label>

            <div class="layui-input-block">

                <input type="text" name="appsecret" required="" value="{$data['customer']}" lay-verify="required"

                       placeholder="请输入AppSecret(小程序密钥)"

                       autocomplete="off" class="layui-input">

            </div>

        </div>


        <div class="layui-form-item">

            <button class="layui-btn" lay-submit="" lay-filter="formDemoPane">保存设置</button>

        </div>

    </form>

</div>

<script>

    layui.use(['form', 'layer'], function () {

        $ = layui.jquery;

        var form = layui.form

            , layer = layui.layer;

        form.on('submit(formDemoPane)', function (data) {

            $.post("{:url('config/change')}", {data: data.field}, function (data) {

                var jsonData = JSON.parse(data);

                if (jsonData[0] == 200) {

                    layer.msg(jsonData[1], {time: 1000, icon: 6}, function () {

                        window.replace();

                    });

                } else {

                    layer.msg(jsonData[1], {time: 1000, icon: 5}, function () {


                    });

                }

                return false;

            });

            return false;


        });

    });

</script>