<div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="{:url('idea/index')}">文章管理</a>
        <a>
          <cite>文章列表</cite></a>
      </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
</div>
<div class="x-body">
    <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so">
            <div class="layui-input-inline">
                <select id="article_cate" name="article_cate">
                    <option value="">请选择文章所属分类</option>
                    {foreach $article_cate as $key=>$value}
                    <option value="{$key}" {php}if(!empty($search['article_cate'])&&$search['article_cate']==$key){echo ' selected';}{/php}>{$value['cate_name']}</option>
                    {/foreach}
                </select>
            </div>
            <button class="layui-btn" lay-submit="" lay-filter="sreach"><i class="layui-icon"></i></button>
        </form>
    </div>
    <xblock>
    {php}$addUrl=url('add');{/php}
        <button class="layui-btn" onclick="x_admin_show('添加文章','{$addUrl}')"><i class="layui-icon"></i>添加文章</button>
        <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
        <span class="x-right" style="line-height:40px">共有数据：{$data->total()} 条</span>
    </xblock>
    <table class="layui-table">
        <thead>
        <tr>
            <th style="width: 40px">
                <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
            </th>
            <th style="width: 60px">ID</th>
            <th>文章封面</th>
            <th>文章标题</th>
            <th>发布类型</th>
            <th style="width: 140px">发布时间</th>
            <th style="width: 40px">操作</th>
        </thead>
        <tbody>
        {foreach $data as $key=>$value}
        <tr>
            <td>
                <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='{$value['article_id']}'><i class="layui-icon">&#xe605;</i></div>
            </td>
            <td>
                {$value['article_id']}
            </td>
            <td>
                <img src="/{$value['article_cover']}">

            </td>
            <td>
                {$value['article_title']}
            </td>
            <td>
                {foreach $article_cate as $key=>$val}
                    {if condition="$value['article_cate']==$val['cate_id']"}
                        {$val['cate_name']}
                    {/if}
                {/foreach}
            </td>
            <td>
                {php}echo date('Y-m-d H:i:s',$value['article_time']);{/php}
            </td>
            <td class="td-manage">
                {php}$url=url('edit',['id'=>$value['article_id']]);{/php}
                <a title="修改/查看" onclick="x_admin_show('文章修改/查看','{$url}')" href="javascript:;">
                    <i class="iconfont">&#xe69e;</i>
                </a>
                <a title="删除" onclick="member_del(this,{$value['article_id']})" href="javascript:;">
                    <i class="iconfont">&#xe69d;</i>
                </a>
            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>
    {$data->render()}
</div>
<script>
    layui.use('laydate', function(){
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#end' //指定元素
        });
    });

    /*用户-删除*/
    function member_del(obj,id){
        layer.confirm('确认要删除吗？',function(index){
            //发异步删除数据
            $.post("{:url('del')}",{id:id},function(data){
                $(obj).parents("tr").remove();
                layer.msg('已删除!',{icon:1,time:1000});
            });
        });
    }
    function delAll (argument) {
        var data = tableCheck.getData();
        // console.log(data);return
        layer.confirm('确认要删除吗？'+data,function(index){
            //捉到所有被选中的，发异步进行删除
            $.post("{:url('delall')}",{id:data},function(data){
                var jsonData=JSON.parse(data);
                var icon=jsonData[0]==200?1:2;
                layer.msg(jsonData[1], {icon: icon});
                $(".layui-form-checked").not('.header').parents('tr').remove();
            })

        });
    }
</script>